## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv", keep_default_na = False)
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Erdenet,MN,49.0333,104.0833,21.11,71,100,16.51,overcast clouds
1,1,Jamestown,US,42.0970,-79.2353,71.60,28,1,12.66,clear sky
2,2,Bethel,US,41.3712,-73.4140,64.00,78,62,6.58,broken clouds
3,3,Faanui,PF,-16.4833,-151.7500,82.27,70,59,9.60,broken clouds
4,4,Avarua,CK,-21.2078,-159.7750,82.40,78,40,8.05,scattered clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 80

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Jamestown,US,42.0970,-79.2353,71.60,28,1,12.66,clear sky
2,2,Bethel,US,41.3712,-73.4140,64.00,78,62,6.58,broken clouds
6,6,Hamilton,US,39.1834,-84.5333,62.01,88,90,11.50,mist
8,8,Niquelandia,BR,-14.4739,-48.4597,71.15,80,33,2.01,scattered clouds
9,9,Siniscola,IT,40.5719,9.6922,59.00,77,0,8.05,clear sky
11,11,Carnarvon,AU,-24.8667,113.6333,78.80,83,99,19.57,overcast clouds
14,14,Libourne,FR,44.9167,-0.2500,55.99,94,90,10.36,mist
16,16,Hermanus,ZA,-34.4187,19.2345,60.01,92,100,2.93,overcast clouds
18,18,Comodoro Rivadavia,AR,-45.8667,-67.5000,57.20,58,0,24.16,clear sky
19,19,Lompoc,US,34.6391,-120.4579,60.80,55,39,18.41,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             368
City                   368
Country                368
Lat                    368
Lng                    368
Max Temp               368
Humidity               368
Cloudiness             368
Wind Speed             368
Current Description    368
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Jamestown,US,71.60,clear sky,42.0970,-79.2353,
2,Bethel,US,64.00,broken clouds,41.3712,-73.4140,
6,Hamilton,US,62.01,mist,39.1834,-84.5333,
8,Niquelandia,BR,71.15,scattered clouds,-14.4739,-48.4597,
9,Siniscola,IT,59.00,clear sky,40.5719,9.6922,
11,Carnarvon,AU,78.80,overcast clouds,-24.8667,113.6333,
14,Libourne,FR,55.99,mist,44.9167,-0.2500,
16,Hermanus,ZA,60.01,overcast clouds,-34.4187,19.2345,
18,Comodoro Rivadavia,AR,57.20,clear sky,-45.8667,-67.5000,
19,Lompoc,US,60.80,scattered clouds,34.6391,-120.4579,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        hotel_df.loc[index, "Hotel Name"] = np.nan
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

# deletes only hotel name field which is empty 
#clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Jamestown,US,71.60,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
2,Bethel,US,64.00,broken clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
6,Hamilton,US,62.01,mist,39.1834,-84.5333,Six Acres Bed & Breakfast
8,Niquelandia,BR,71.15,scattered clouds,-14.4739,-48.4597,Hotel Suinã
9,Siniscola,IT,59.00,clear sky,40.5719,9.6922,Hotel Sa Tanca E Bore

In [11]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv("WeatherPy_vacation.csv", index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))